.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 4em;
  padding-left: 4em;
  height: 5em;
  border-bottom: 1px solid var(--c-txt);
}

.containerCentered {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 4em;
  padding-left: 4em;
  height: 5em;
  border-bottom: 1px solid var(--c-txt);
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4em;
  width: 25%;
  &_btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4em;
    width: 25%;
  }
  &_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transition: 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.title {
  font-family: "NeueHaas-Bold";
  font-size: 28px;
  color: var(--c-txt);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.link {
  font-family: "NeueHaas-Bold";
  font-size: 16px;
  color: var(--c-txt);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 2px;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  &_btn {
    font-family: "NeueHaas-Bold";
    font-size: 16px;
    color: var(--c-txt);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    letter-spacing: 2px;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
      color: greenyellow;
    }
    &_action {
      color: lightseagreen;
    }
  }
}

.image {
  height: 3em;
}

.active {
  color: greenyellow;
}
