.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3em;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: greenyellow;
  color: var(--c-bg);
  width: 3em;
  transition: background-color 0.5s, transform 0.5s;
  &_swap {
    background-color: brown;
  }
  &_sorted {
    background-color: rebeccapurple;
  }
}
