.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
  padding-left: 3%;
  height: 5em;
  border-bottom: 1px solid var(--c-txt);
}

.link {
  font-family: "NeueHaas";
  font-size: 16px;
  color: var(--c-txt);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 2px;
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.selected {
  color: greenyellow;
}
